:root{
 --primary-text-color: #ff8682;
 --background: #3869eb;
 --text-button: #f3f3f3;
}

body{
  margin: 0px;
  padding: opx;
}

.container{
  margin: 40px 300px;
}

.icon{
  display: block;
  background-size: 100% !important;
  background-repeat: no-repeat;
  background-position: center;
  margin:0px 10px;
}

.icon-logo{
  background: url(/images/logo.svg);
  height: 30px;
  width: 30px;
}

.logo-principal{
  color: #000;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.login-img{
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 500px;
}

.login{
  height: 600px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.button1 button {
  width: 80%;
  background-color: var(--background);
  border: none;
  color: var(--text-button);
  padding: 15px;
}

.signUp-ls{
  display: grid;
  grid-template-columns: 50% 50%;
}