:root {
    --text-color:#252B42;
    --light-text-color:#FFFFFF;
    --primary-color:#FF7B47;
    --second-text-color:#737373;
    --secondary-color-1:#0D5C63;
}

header {
    background: url(/assets/images/img-header1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    height: 100px;
    padding: 0px 40px 0px 100px;

}

nav > div:nth-child(1){
    display: flex;
    align-items: center;
    font-size: 1.5rem;
} 

nav > div:nth-child(2){
    display: flex;
    align-items: center;
}

nav > div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: end;
}


nav > h3 {
    margin: 0;
    color: var(--text-color);
}

nav > div > a {
    text-decoration: none;
    color: var(--second-text-color);
    font-weight: 600;
    margin-right: 15px;   
}

.banner {
    width: 100%;
    height: 800px;
}

.banner > div {
    padding: 70px 100px;
}

.banner > div > h1 {
    font-size: 4.5rem;
    color: var(--text-color);
}

.banner > div > h4 {
    font-size: 1.5rem;
    color: var(--second-text-color);
}

.banner > div > div > button {
    font-weight: 600;
    border-radius: 10px;
    padding: 10px 15px;
}

button.btn-primary {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    border: transparent;
}

button.btn-transparent {
    background-color: transparent;
    color: var(--secondary-color-1);
    border: var(--secondary-color-1);
}

#cards {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    justify-content: center;
    height: 300px;
    bottom: -150px;
    position: absolute;
}

.item {
    background-color: var(--light-text-color);
    margin: 0 60px 0 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    border: 5px solid #00000012;
}
